<div class="card mt-3">
  <div class="card-header">
    <div class="row">
      <div class="col-md-4">
        Product List
      </div>
      <div class="col-md-8">
        <app-search (keyword)="search($event)"></app-search>
      </div>
    </div>

  </div>
  <div class="card-body">
    <a class="btn btn-success" [routerLink]="['product/add']">Create</a>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">SKU</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of productListFind; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ product.sku }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td>
          <a [routerLink]="['product/edit', product.id]">
            <i class="fa fa-edit" style="color: blue"></i>
          </a>
          <a class="link" routerLink="" (click)="deleteProduct(i)">
            <i class="fa fa-trash" style="color: red"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

